.card__wrapper{
    display: flex;
    max-width: 450px;
    min-width: 200px;
    background-color: #f4f4f5;
    margin: 1rem;
}
.card__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
    text-align: center;
}
.card__container img{
    width: 100px;
}
.card__container h2{
    margin: 15px;
}
.card__container p{
    margin: 15px;
    color: #959698;
}
@media screen and (max-width:900px) {
    .card__wrapper{
        max-width: 600px;
    }
    }
   