.slide-left {
	-webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(0px);
  }
}
.navbar__wrapper{
    display: flex;
    /* justify-content: center;
    align-items: center; */
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    flex: 2;
}
.navbar__image{
    display: flex;
    padding: 2rem;
    flex: 0.69;
}
.logo{
    max-width:100px ;
    min-width: 90px;
    height: auto;
}
.navbar__content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar__content li{
    list-style-type: none;
    color: #fff;
    padding: 2rem;
}
.navbar-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
.icons{
    padding: 0.7rem;
}
.hide{
    display: none;
}
@media screen and (max-width:900px) {
    .khushi{
        position: absolute;
        height: 100%;
        background-color: rgba(42,42,42,255);
        z-index: 100;
        top: 20px;
        display: grid;
        width: 100vw;
    }
    .navbar__wrapper{
        display: flex;
        justify-content: flex-end;
        padding: 1rem;
       padding-bottom: 0;
       align-items: center;
    }
    .navbar-container{
        display: none;
    }
    .nav__hide{
        flex-direction: column;
        align-items: center;
        /* background-color: rgba(42,42,42,255); */
    }
   .navbar__image img{
    position: absolute;
    left: 36px;
    top: 32px;

   }
    .hide{
        display: flex;
    }
    .navbar__wrapper svg{
        width: 28px;
        height: auto;
        margin: 1rem;
    }
    
}