.app{
  background-color: rgba(42,42,42,255);
  width: 100vw;
  height: 100%;
}
.card__content{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  bottom: 120px;
  width: 85vw;
  margin-left: auto;
  margin-right: auto;
  
}
@media screen and (max-width:600px) {
    .card__content{
      flex-wrap: wrap;
      bottom: 0px;
    }  
}
@media screen and (max-width:1000px) {
  .card__content{
    flex-wrap: wrap;
    bottom: 2px;
  }  
}


  
